bin/
build/
OUTPUT_FILES/
DATABASES_MPI/
STATIONS_FILTERED
.DS_Store
.ipynb_checkpoints
__pycache__
*.so
*.o
Photo.run
*.mod
build
*.a
*.dylib

*.hed
*.lis
*.tbl
flexwin
ttimes_mod/remodl
ttimes_mod/setbrn

