# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.log

bin/
build/
.vscode/
.DS_store

*.vtk

# header files
constants.h
precision.h
config.fh
version.fh

OUTPUT_FILES/
DATABASES_MPI/
solver/
misfits/
optimize/
tests/toy_example_tele/fwat_data/
model_initial/
fwat_data/

*_ADJOINT
*_ADJOINT_FILTERED
*_FILTERED
