bin/
build/
OUTPUT_FILES/
DATABASES_MPI/
model_target/
model_initial/
fwat_data/
solver/
optimize/
output_*.txt
misfits/
figures/
STATIONS*_FILTERED
STATIONS*_ADJOINT
fort.*
.DS_Store
.ipynb_checkpoints
__pycache__
*.so
*.o
Photo.run
*.mod
build
*.a
*.dylib

*.hed
*.lis
*.tbl
flexwin
ttimes_mod/remodl
ttimes_mod/setbrn

.vscode/
*.vtk
